body, html {
  background-color: black;
  color: rgb(250, 251, 251);
  width: 100%;
  height: 100%;
}

.card {
  background-color: rgb(192, 168, 172);
  border-radius: 10px;
  margin: 40px;
  padding: 20px;
}

.nav {
  background-color: lightblue;
  margin: 20px;
  padding: 10px;

}